jsonpointer==3.0.0
marshmallow==3.22.0
tiktoken==0.7.0
numpy==1.26.4
chainlit==0.7.700
openai==1.44.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-huggingface==0.0.3
langchain-openai==0.1.23
langchain-qdrant==0.1.4
langchain-text-splitters==0.2.4
qdrant-client==1.11.2
python-dotenv==1.0.1

